<h2>Tarif Kanton Zug</h2>

<p>Die Baumvolumen (V<sub>tree</sub>) werden mit einem Tarif berechnet, welcher Laub- bzw. Nadelholz differenziert. Der Tarif ist für den ganzen Kanton einheitlich. </p>

<img src="{% static 'img/tarif_zg.png' %}">

<h3>Funktionen zur Berechnung des Schaftholzvolumen in Rinde der Probebäume:</h3>
<p>Nadelholz: V<sub>tree</sub> = exp(-3.71010+3.248818*ln(diameter)-0.00440613*ln(diameter)^4)/1000 <br>
Laubholz: V<sub>tree</sub> = exp(-3.11115+3.013630*ln(diameter)-0.00350483*ln(diameter)^4)/1000 </p>

<h3>Variablen:</h3>
<p>V<sub>tree</sub>: Volumen  [m<sup>3</sup>] <br>
diameter: BHD [cm]</p>

<h3>Bemerkungen:</h3>
<p>Zur Tarifermittlung wurde bei der Waldinventur 1990/93 auf jeder dritten Stichprobe Höhen- und D7-Messungen durchgeführt. <br>
Nadelholz: 4323 Höhenmessbäume (Mittleres Volumen 2272.3 dm<sup>3</sup>, Standardabweichung 3.4%)<br>
Laubholz: 1636 Höhenmessbäume (Mittleres Volumen 1549.5 dm<sup>3</sup>, Standardabweichung 5.4%)<br>
</p>
